<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kedu.mapper.BoardMapper">

	<insert id="create">
		insert into board (btitle, bcontent, bwriter) values(#{btitle}, #{bcontent}, #{bwriter})
	</insert>

	<select id="read" resultType="com.kedu.board.dto.BoardDto">
		select bno, btitle, bcontent, bwritedt, bcount, bwriter from board where bno = #{bno}
	</select>

	<update id="update">
		update board set btitle = #{btitle}, bcontent = #{bcontent}, bupdatedt = #{bupdatedt} where bno = #{bno}
	</update>

	<delete id="delete">
		delete from board where bno = #{bno}
	</delete>


	<select id="listAll" resultType="com.kedu.board.dto.BoardDto">
	<![CDATA[
		select bno, btitle, bcontent, bwritedt, bcount, bwriter form board where bno > 0 order by bno desc, bwritedt desc
	]]>
	</select>

</mapper>