#commentform
{
  margin-bottom: 70px;
}
#commentform
{
  margin-bottom: 30px;
}
#commentform
  {
  margin-bottom: 20px;
  font-size: 11px;
  color: #888;
}
#commentform input,
#commentform textarea
{
  padding: 10px 15px;
  background: #f1f1f1;
  color: #484848;
  border: 1px  solid #ccc;
  font-size: 13px;
  font-family: Helvetica, Arial;
  line-height: 1.5em;
  overflow: auto;
}
#commentform input:focus,
#commentform textarea:focus
{
  background: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(251, 228, 113, 0.4);
  -moz-box-shadow: 0px 0px 3px rgba(251, 228, 113, 0.4);
  -o-box-shadow: 0px 0px 3px rgba(251, 228, 113, 0.4);
  box-shadow: 0px 0px 3px rgba(251, 228, 113, 0.4);
}
#commentform input[type="text"],
#commentform input[type="password"]
 {
  overflow: auto;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
#commentform textarea,
 textarea {
  width: 93.1818%;
  height: 230px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#commentform input[type="submit"],
 input[type="submit"],
#commentform input[type="button"],
 input[type="button"] {
  width: auto;
  color: #444;
  font-size: 11px;
  background: #eaeaea;
  padding: 3px 10px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
#commentform input[type="submit"]:hover,
 input[type="submit"]:hover,
#commentform input[type="button"]:hover,
 input[type="button"]:hover {
  background: #cb5432;
}
#commentform input#submit,
 input#submit {
  margin-top: 7px;
}
#commentform label,
 label {
  display: block;
}
#commentform p,
 p {
  margin-bottom: 20px;
}
#commentform #error,
 #error {
  margin-left: 10px;
}
#commentform #sent-form-msg,
 #sent-form-msg {
  padding: 5px 10px;
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0.1);
  color: #444;
}
